# Configuration du serveur
PORT=3001

# URL du frontend (pour CORS)
FRONTEND_URL=http://localhost:5173

# Configuration Gmail SMTP
SMTP_USER=maladhob5@gmail.com
SMTP_PASS=ymwovwkjporjpiga
RECEIVER_EMAIL=maladhob5@gmail.com

# Envoyer un email de confirmation au client (true/false)
SEND_CONFIRMATION=true

