services:
  - type: web
    name: portfolio-backend
    env: node
    rootDir: back
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000

